<%= form_for :user, :url => password_reset_confirm_path do |f| %>
  Email: <%= f.text_field :email %><br />

   <div class="actions">
    <%= f.submit "Send Reset Email",  :id => 'password_reset'%>
  </div>
<% end %>
